/* ------ Reset ------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

a {
  text-decoration: none;
  color: white;
}
/* ------ Reset ------ */
body {
  background-color: var(--background-color);
  font-family: 'cinema', sans-serif;
}
/* container */

/* container */